<h2>I AMA Homepage</h2>

<%= link_to "Add Link", new_link_path %>
<p><%= will_paginate @links %></p>
<ul>
  <% @links.each do |link| %>
      <li><%= link_to link.title, link.url %><br>(<%= link.url %>)</li>
  <% end %>
</ul>
